.all-div {
  margin-left: 450px;
  margin-right: 300px;
  z-index: -100;
}
.root-all-user {
  margin-left: 200px;
  margin-top: -50px;
}

.display-form {
  margin-left: 10px;
  width: 600px;
  margin-right: 500px;
  margin-top: -50px;
}

.close-user {
  margin-left: 0px;
}

.card-header-all-user {
  margin-left: 0px;
}
