.all-div {
    margin-left: 550px;
    margin-right: 300px;
    z-index: -100;
}
.root {
    margin-left: 200px;
    margin-top: -50px;

}

.display-form {
    margin-left: 10px;
    width:600px;
    margin-right: 500px;
    margin-top: -50px;
}

.close {
    margin-left: 500px;
}