.input-team-type,
.input-team-name,
.input-audience-type {
  width: 11em;
  display: block !important;
}

#label-team-type,
#label-team-name,
#label-audience-type {
  width: max-content;
  margin-top: 0.3em;
}

#select-team-type,
#select-team-name,
#select-audience-type {
  width: 11em;
  margin-top: 0.7em;
}

#team-name {
  width: 60ch;
}

.create-request-logo {
  background: url("../img/create-request.png") no-repeat center center;
  background-size: contain;
  width: 2.5vw;
  height: 2.5vw;
  margin: auto;
}

.onboard-member-logo {
  background: url("../img/add-user.png") no-repeat center center;
  background-size: contain;
  width: 2.5vw;
  height: 2.5vw;
  margin: auto;
}

.promote-environment-logo {
  background: url("../img/promote-environment.png") no-repeat center center;
  background-size: contain;
  width: 2.5vw;
  height: 2.5vw;
  margin: auto;
}

.view-request-logo {
  background: url("../img/view-requests.png") no-repeat center center;
  background-size: contain;
  width: 2.5vw;
  height: 2.5vw;
  margin: auto;
}

#api-detail-panel {
  margin: 1em;
  /* background-color: #f2f2f2; */
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 48% !important;
}

.cardHeaderIcon {
  width: 3vw;
  left: 1%;
}

.api-detail-heading {
  padding: 1% 0 0.2% 0;
}

.peak-traffic {
  padding-top: 1.2em;
}

.peak-traffic > fieldset {
  width: 70%;
}

.peak-traffic-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
  gap: 3em;
}

.peak-traffic-container div div {
  width: 10em;
}

#publisher-traffic-per-second,
#publisher-traffic-per-hour,
#consumer--traffic-per-second,
#consumer--traffic-per-hour {
  justify-content: space-between;
}

.add-api-list {
  margin-top: 1.5em;
}

#member-onboarding {
  margin: 1em 0;
}

input:enabled[type="checkbox"] + svg {
  color: #00b2c7 !important;
}

.add-button {
  border: "1px solid #4caf50" !important;
  background-color: "#FFFFFF" !important;
  color: "#4caf50" !important;
}
